<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- 登录过来传递的参数 -->
    <p>User id: <%= userid %></p>
    <p>Password: <%= pwd %></p>
  </body>
</html>
